/*Global variables*/
:root {
  --medium-dark-grey: rgba(37, 37, 37, 0.719);

  --toDoColour: #a3cef1;
  --inProgressColour: #ffca28;
  --completedColour: #81c784;
  --box-shadow-light: 0 0 1.25rem rgba(0, 0, 0, 0.58);
  --box-shadow-hard: 0 0 3.75rem rgba(0, 0, 0, 0.9);

  --sideBar-linear-dark-blue: #909fea;
  --sideBar-linear-green: #9ff5ea;
  --sideBar-linear-white: #eef1e5;
  --folder-blue: #6c7ea6;
  --black: #000000;
  --white: #ffffff;
  --blue: #5226ff;
  --font-inter: "Inter", sans-serif;
}

body {
  width: 100vw;
  padding: 0;
  margin: 0;
}

/* h1 {
  font-size: 2rem;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0;
  width: fit-content;
} */

/* sidebar  */
.folderContainer {
  background-color: var(--folder-blue);
  width: 7rem;
  height: 5rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  border-radius: 20%;
}
h2 {
  font-size: 0.8em;
  color: var(--white);
  margin-top: 0;
  margin-bottom: 0.5rem;
  text-align: center;
  font-family: var(--font-inter);
  font-weight: 400;
}

.groupTitle {
  font-size: 1.3rem;
  background-color: transparent;
  border: none;
  width: fit-content;
  color: var(--blue);
  font-weight: 600;
}

#sidebar {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  box-shadow: var(--box-shadow-light);
  padding: 2rem;
  height: fit-content;

  background: linear-gradient(
    90deg,
    var(--sideBar-linear-dark-blue) 0%,
    var(--white) 100%
  );
}

/* Topbar */
h1 {
  font-size: 2rem;
  font-family: var(--font-inter);
  margin-bottom: 0;
}
.topBar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
#showHideCompleted {
  background: none;
  border: none;
  width: fit-content;
  font-family: var(--font-inter);
  cursor: pointer;
  font-size: 1rem;
  font-weight: 500;
}

.outerFlex {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  height: 70vh;
}

.groupsContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1rem;
  padding: 2rem;
}

.listAndField {
  display: flex;
  flex-direction: column;

  justify-content: space-between;
}

/* list item */

ul {
  padding: 0;
  list-style-type: none;
}

.taskItem,
.addTaskField {
  display: flex;
  justify-content: space-between;
  font-size: medium;
  border-style: none;

  list-style-type: none;
  padding: 0.2rem 0.2rem;

  margin-bottom: 0.2rem;

  transition: transform 0.15s ease;
  outline: none;
}

.addTaskField,
.taskText {
  border-bottom: 0.1rem solid black;
}

.taskItem:focus,
.addTaskField:focus {
  background-color: rgb(275, 275, 250);
  border-bottom: 0.1rem solid black;
}

.addTaskFieldAndButton {
  display: flex;
  width: 85%;
  gap: 0.2rem;
}

.addTaskField {
  text-align: center;
  width: 100%;
  margin-bottom: 0;
  text-align: left;
}

.taskText,
.taskText:focus,
.taskText:hover {
  margin: 0;
  background-color: transparent;
  border: none;
  outline: none;
  width: 80%;
  border-bottom: 0.1rem solid black;
}

#createGroupButton {
  background-image: url("../images/newGroup.png");
  background-color: transparent;
  height: 3rem;
  width: 3rem;
  background-size: cover;
  background-repeat: no-repeat;
  border: none;
  outline: none;
  padding: 10px 20px;
  cursor: pointer;
}

.deleteGroupButton {
  cursor: pointer;
  height: 1.5rem;
  width: auto;
}

.taskCircle,
.circle {
  width: 20px;
  height: 20px;
  border: 1px dotted #ccc; /* Dotted border for the circle */
  border-radius: 50%;
  margin-right: 10px;
  cursor: pointer;
}

.complete-circle {
  background-color: blue;
}

.hidden {
  display: none;
}

/* medium screen */

@media (min-width: 370px) {
  #sidebar {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    box-shadow: var(--box-shadow-light);
    padding: 2rem;
    height: fit-content;
    flex-wrap: wrap;

    background: linear-gradient(
      180deg,
      var(--sideBar-linear-dark-blue) 0%,
      var(--sideBar-linear-green) 60%,
      var(--sideBar-linear-white) 100%
    );
  }
}
