/*Global variables*/
:root {
  --medium-dark-grey: rgba(37, 37, 37, 0.719);
  --font: "Roboto", sans-serif;

  --toDoColour: #a3cef1;
  --inProgressColour: #ffca28;
  --completedColour: #81c784;

  --box-shadow-light: 0 0 1.25rem rgba(0, 0, 0, 0.58);
  --box-shadow-hard: 0 0 3.75rem rgba(0, 0, 0, 0.9);
}

body {
  margin: 3rem;
  margin-right: 0;
  padding: 0;
  font-family: var(--font);
}

h1 {
  font-size: 2rem;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0;
  width: fit-content;
}

h2 {
  font-size: 1.5em;
  margin-top: 0;
  margin-bottom: 0.5rem;
  text-align: center;
  font-weight: normal;
}

.groupTitle {
  font-size: 1.5rem;
  margin: 0;
  margin-left: auto;
  margin-right: auto;
  background-color: transparent;
  border: none;
  width: 100%;
  outline: none;
}

.topBar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.outerFlex {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  height: 70vh;
}

/* .hidden {
  width: 5rem !important;
} */

#sidebar {
  display: block;
  position: relative;
  width: 200%;
  background-color: beige;
  box-shadow: var(--box-shadow-light);
  padding-left: 1.5rem;
  padding-top: 0.2rem;
  padding-bottom: 0.5rem;
  padding-right: 0;
  overflow: hidden;
  transition: width 0.3s ease;
  border-radius: 0.2rem;
  height: fit-content;
  min-height: 10rem;
}

/* Since we're toggling the hidden class, we'll use one arrow image that indicates expansion */
.hidden .sidebar-toggle {
  background-image: url("../images/left.png");
}

.sidebar-toggle {
  position: absolute;
  left: 0px; /* Align to the left edge of the sidebar */
  top: 50%; /* Center vertically */
  transform: translateY(-50%);
  width: 1.5rem;
  height: 1.5rem;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 1);
  border-radius: 50%;
  cursor: pointer;
}

/* Ensure .sidebar-toggle is always visible */
#sidebar:not(.hidden) .sidebar-toggle {
  background-image: url("../images/right.png"); /* Arrow pointing left when sidebar is not hidden */
}

.groupsContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: flex-start;
  flex-wrap: wrap;
  gap: 1rem;
}

.tasksContainer {
  display: block;
  flex: 1 1 calc(33.333% - 2rem);
  flex-direction: column;
  justify-content: space-between;
  min-width: 10rem;
  /* max-width: 30%;*/
  height: fit-content;
  min-height: 10rem;
  border-radius: 0.2rem;
  padding: 0.4rem;
  box-shadow: var(--box-shadow-light);
}

.groupTitle {
  height: 1.5rem;
}

.listAndField {
  display: flex;
  flex-direction: column;
  min-height: 8rem;
  justify-content: space-between;
}

ul {
  padding: 0;
  list-style-type: none;
}

li {
  white-space: nowrap;
  flex-wrap: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.taskItem,
.addTaskField {
  display: flex;
  justify-content: space-between;
  font-size: medium;
  border-style: none;
  border-radius: 0.2rem;
  list-style-type: none;
  padding: 0.2rem 0.2rem;
  background-color: beige;
  margin-bottom: 0.2rem;
  box-shadow: var(--box-shadow-light);
  transition: transform 0.15s ease;
  outline: none;
}

.taskItem:focus,
.taskItem:hover,
.addTaskField:focus,
.addTaskField:hover {
  transform: scale(1.03);
  box-shadow: var(--box-shadow-hard);
  background-color: rgb(275, 275, 250);
}

.addTaskFieldAndButton {
  display: flex;
  width: 100%;
  justify-content: space-between;
  gap: 0.2rem;
}

.addTaskField {
  text-align: center;
  width: 100%;
  margin-bottom: 0;
  text-align: left;
}

p,
.taskText,
.taskText:focus,
.taskText:hover {
  white-space: nowrap;
  flex-wrap: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 0;
  background-color: transparent;
  border: none;
  outline: none;
  width: 100%;
}

#createGroupButton {
  background-image: url("../images/newGroup.png");
  background-color: transparent;
  height: 3rem;
  width: 3rem;
  background-size: cover;
  background-repeat: no-repeat;
  border: none;
  outline: none;
  padding: 10px 20px;
  cursor: pointer;
  margin-bottom: 1rem;
}

.moveToCompleted {
  background-image: url("../images/check.png");
  background-color: transparent;
  height: 1rem;
  width: 1rem;
  background-size: cover;
  background-repeat: no-repeat;
  border: none;
  outline: none;
  cursor: pointer;
  margin: 0;
}

.deleteGroupButton {
  cursor: pointer;
  height: 1.5rem;
  width: auto;
}

#clearTasksButton {
  position: absolute;
  bottom: 1rem;
  left: 50%;
  transform: translateX(-50%);
  height: 1.5rem;
}

/* >>>> */

.taskCircle,
circle {
  width: 20px;
  height: 20px;
  border: 1px dotted #ccc; /* Dotted border for the circle */
  border-radius: 50%;
  margin-right: 10px;
  cursor: pointer;
}

.complete-circle {
  background-color: blue;
}

.hidden {
  display: none;
}
